server:
  port: 8082

spring:

  application:
    name: job-executor-service

  #autoconfigure:
   # exclude:
    #  - org.springframework.boot.autoconfigure.jobrunr.JobRunrAutoConfiguration

  batch:
    job:
      enabled: true
      # Spring Batch creará sus tablas automáticamente
      initialize-schema: always
    jdbc:
      initialize-schema: always

app:
  batch:
    chunk-size: 100
    grid-size: 4
    partition-size: 1000
    mail:
      enabled: false # Cambiar a true cuando configures email

  datasource:
    url: jdbc:postgresql://localhost:5432/job_demo_database
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092

    consumer:
      group-id: ${spring.application.name}-consumer
      auto-offset-reset: earliest
      enable-auto-commit: false
      max-poll-interval-ms: 300000  # 5 minutos para jobs normales

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

kafka:
  topics:
    job-requests: job-requests-topic
    job-results: job-results-topic

  filter:
    business-domains: ${spring.application.name}
    target-jobs: "ResumenDiarioClientesAsync"     # Solo procesar este
    target-batches: "springBatchSample"         # Solo procesar este


# Logging específico para Kafka
logging:
  level:
    org.springframework.kafka: INFO
    org.apache.kafka: WARN
    com.company.jobexecutor.kafka: DEBUG
