spring:
  application:
    name: batch-scheduler-service

  server:
    port: 8080

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: ${spring.application.name}-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: common.batch.dto.JobResult
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

  datasource:
    url: jdbc:postgresql://localhost:5432/batch-scheduler
    username: batch_user
    password: batch_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

jobrunr:
  background-job-server:
    enabled: true
    worker-count: 10

  dashboard:
    enabled: true
    port: 8000

  database:
    type: sql
    table-prefix: jobrunr_
    skip-create: false

  job-scheduler:
    enabled: true

  job:
    default-number-of-retries: 3

  miscellaneous:
    allow-anonymous-data-usage: false



# Topics de Kafka
kafka:
  topics:
    job-requests: job-requests-topic
    job-results: job-results-topic


resilience4j.circuitbreaker:
  instances:
    remoteJob:
      register-health-indicator: true
      sliding-window-size: 10
      minimum-number-of-calls: 5
      permitted-number-of-calls-in-half-open-state: 3
      automatic-transition-from-open-to-half-open-enabled: true
      wait-duration-in-open-state: 5s
      failure-rate-threshold: 50
      event-consumer-buffer-size: 10

logging:
  level:
    org.jobrunr.storage.ConcurrentJobModificationException: OFF
    org.jobrunr.storage.sql.commondb.ConcurrentSqlModificationException: OFF
    org.jobrunr.server.BackgroundJobPerformer: OFF
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{40} - %msg%n%ex{0}" # Sin stack trace
