spring:
  application:
    name: batch-scheduler-service

  server:
    port: 8080

  datasource:
    url: jdbc:postgresql://localhost:5432/batch_scheduler
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

jobrunr:
  background-job-server:
    enabled: true
    worker-count: 3

  dashboard:
    enabled: true
    port: 8000

  database:
    type: sql

  job-scheduler:
    enabled: true

  job:
    default-number-of-retries: 3

  miscellaneous:
    allow-anonymous-data-usage: false

resilience4j.circuitbreaker:
  instances:
    remoteJob:
      register-health-indicator: true
      sliding-window-size: 10
      minimum-number-of-calls: 5
      permitted-number-of-calls-in-half-open-state: 3
      automatic-transition-from-open-to-half-open-enabled: true
      wait-duration-in-open-state: 5s
      failure-rate-threshold: 50
      event-consumer-buffer-size: 10

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: ${spring.application.name}-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: common.batch.dto.JobRequest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

# Topics de Kafka
kafka:
  topics:
    job-requests: job-requests-topic
    job-results: job-results-topic
